/* Frequently used classes */
.anchor {
	padding-top: 50px;
}

.black-text{
	color: black;
}

.center-text {
	text-align: center;
}

.center-item {
	margin: 0 auto;
}

.light-shadow {
	text-shadow: 1px 0 black; /* Creates thin shadow behind text. For white on white text */
}

.row {
	margin: auto; /* Fixes extra margin causing vertical scroll bar */
}

.text-thicker{
	font-weight: bold;
}

/* navigation */
.nav {
	float: right;
}

.nav ul {
	float: right;
}

.navbar-brand {
	height: 0;
	padding: 0;
}

.navbar-header {
	z-index: 1400;
}

.home-header {
    font-size: 25px;
    padding: 15px;
    margin-left: 15px;
    float: left;
    display: block;
}

.home-header img {
	display: inline-block;
}

.home-header span {
	color: white;
	display: inline-block;
}
.logo-font {
	font-size: 20px;
	vertical-align: middle;
}

/* Carousel */
.carousel-row {
	background-color: #033649;
	border-top: 1px solid black;
	color: white;
}

.carousel-caption h3{
	text-shadow: 5px solid black;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}


/* About */
.about {
	background-image: url("../img/measures.jpg");
	/* Add a background image */
	background-attachment: fixed;
	/* Give the background a fixed position. So it doesn't scroll when user scrolls */
	background-size: cover;
	/* Have the background cover entire div */
	color: white;
	/* Change color of text on top so its readable, adjust padding as needed */

	padding-top: 50px;
}

.circle-img {
	border: 1px solid black;
    border-radius: 100px;
}

.story {
    clear: both;
    border: 2px solid #436984;
    margin: 2% auto;
}

.story p {
    margin: 10px;
}

.skills {
    background-color: #033649;
    color: #FFF;
    padding-bottom: 10px;
}

.skills ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* WORK */
.work {
	width: 100%;
	display: block;
	background-color: #033649;
	color: white;
}

/* Interactive section */
.image {
    box-sizing:border-box;
    border:2px solid pink;
    width:200px;
    height:200px;
    margin:5px;
    display:inline-block;
    position:relative;
}
.info {
    display:inline-block;
    color:#fff;
    font-family:Futura;
    text-transform:uppercase;
    font-weight:700;
    letter-spacing:0.5em;
    line-height:1.6;
    position:absolute;
    top:15%;
    left:22%;
}
.proj-title {
    font-weight:100;
}


/* Learn More/FAQ */
.faq {
	background-image: url("../img/mountaindock.jpg");
	/* Add a background image */
	background-attachment: fixed;
	/* Give the background a fixed position. So it doesn't scroll when user scrolls */
	background-size: cover;
	/* Have the background cover entire div */
	color: white;
	/* Change color of text on top so its readable, adjust padding as needed */
	padding-bottom: 50px;
}
.faq h1 {
	color: white;
}

#accordion {
	position: relative;
}

#modalframe {
	padding: 10px;
	width: 100%;
	height: 100%;
}

.learn-more {
	text-align: left;
	float: left;
	padding-left: 30px;
	color: white;
}

.modal-body {
	height: 500px;
}

.modal-button {
	float: right;
	padding: 15px;
	margin-right: auto;
}

.panel > .panel-heading {
	background-color: #031634;
	color: white;
}

.panel-body {
	background-color: #436984;
}

/* FAQ Table */
.faq-table{
	width:75%;
	text-align: center;
}

.my-row th{
	text-align: center;
}

td{
	width: 33%;
}

/* Form */
input {
	color:black;
}

.btn-primary {
	float: right;
	margin-top: 2px;
}

.form-control {
	width: 100%;
	margin-top: 10px;
}

#form {
	vertical-align: right;
}

.message-box {
	margin-top: 100px;
}

/* Video */
.video {
	padding: 20px;
}

.video iframe {
	display: block;
}

/* Contact */
.contact {
	background-image: url("../img/moon.jpg");
	/* Add a background image */
	background-attachment: fixed;
	/* Give the background a fixed position. So it doesn't scroll when user scrolls */
	background-size: cover;
	/* Have the background cover entire div */
	color: white;
	/* Change color of text on top so its readable, adjust padding as needed */
	padding: 100px;
	padding-top: 50px;
}

.contact-column {
    padding: 20px;
    width: 100%;
}

.contact-column h2 {
	font-weight: 600;
	color: #F8F8FF;
	text-shadow: 2px 0 black;
}

.contact-column ul {
    list-style-type: none;
}

.contact_form {
	border: 1px dotted black;
	width: 45%;	
	float: right;
	padding-bottom: 325px;
}

.glyphicon:hover {
    color: blue;
    text-decoration: none;
}

/* Footer */
footer {
	height: 25px;
	padding-top: 5px;
	background-color: black;
	color:white;
	width: 100%;
}

.copyright p {
	margin-bottom: 0;
	display: inline-block;
	float: left;
}

.social-media {
	display: inline-block;
	padding: 0 5px;
	float: right;
	margin-bottom: 0px;
}

.fb-like{
	display:inline-block;
	float: right;
}
.twitter-follow-button {
	display:inline-block;
	min-width: 160px;
	float: right;
}

/*html { 
  background: url("../img/portfolioheroimage.jpg") no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/


/* Typography */
h1, 
h2, 
h3, 
h4, 
a, {
        font-family: 'Source Sans Pro', 'Roboto', 'Oxygen', sans-serif;
}
p, 
{
        font-family: Georgia, Palatino, serif;
}
